footer {
    visibility: hidden;
    }

#col_container {
    width: 1400px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    !important
    }

.gradio-container {
    background-image: url("https://i.ibb.co/Fqp2S9H/img-gradient.png");
    height: 200px; /* You must set a specified height */
    width: 70%; /* You must set a specified width */
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    # background-size: contain; /* Resize the background image to cover the entire container */
    }

#chatbot {
    height: 1400px;
    overflow: auto;
    !important
    }